.gallery_item {
  position: relative;
  cursor: pointer;
  aspect-ratio: 1;
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: rgba(0,0,0, 0.1);
    border-radius: 8px;
    min-width: 90px;
    min-height: 90px;
  }
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  grid-auto-flow: row dense;

  &.alone {
    display: block;
    .gallery_item {
      aspect-ratio: unset;
      & > img {
        width: unset;
        height: unset;
        max-width: 100%;
        max-height: 300px;
        border-radius: 8px;
      }
    }
  }
  &.one {
    .gallery_item:nth-child(1) {
      grid-column-end: span 12;
      aspect-ratio: 3/2;
    }
  }


  &.two {
    .gallery_item:nth-child(1) {
      grid-column-end: span 6;
    }
    .gallery_item:nth-child(2) {
      grid-column-end: span 6;
    }
  }
  &.three {
    .gallery_item:nth-child(1) {
      grid-column: 1 / span 8;
      grid-row: 1 / span 2;
    }
    .gallery_item:nth-child(2) {
      grid-column: 9 / span 4;

    }
    .gallery_item:nth-child(3) {
      grid-column: 9 / span 4;

    }
  }
  &.four {
    .gallery_item {
      aspect-ratio: 3/2;
      grid-column-end: span 6;
    }
  }
}

.gallery .gallery_item {
  grid-column-end: span 4;
}