.separator_container {
}

.separator {
  height: 20px;
  width: 50%;
  margin: 0 auto;
  background: rgba(0,0,0, 0.1);
  cursor: pointer;
  &:hover {
    background: rgba(0,0,0, 0.2);
  }
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.separator_hide {

}

.separator_line {
  margin: 10px 0;

  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;

  .line {
    height: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: rgb(28, 32, 40);
    width: 100%;
    grid-column: 2;
  }

}